<html 
	lang="en" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{main/masterlayout.html}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Spring MVC</title>
<head>
<style>
@media screen and (max-width: 700px)
{
  .sidebarAccordion {
    	padding: 3.5rem 1.25rem !important;
	}
}
</style>
</head>
<body>
	<section layout:fragment="childpage">

		<div class="sidebar">
			<a class="navlink disableHref active" href="index?page=dashboard"
				onclick="setContent('dashboard')">Home</a> <a
				class="navlink disableHref" href="index?page=articles"
				onclick="setContent('articles')">Articles</a>

			<div th:if="${permissionUserManagement == true}">
				<a class="navlink disableHref" href="index?page=activitylogs"
					onclick="setContent('activitylogs')">Activity</a>
			</div>

			<!-- User Management links -->
					<div class="accordion-item sidebarcolor" th:if = "${permissionUserManagement == true}">
						<h2 class="accordion-header" id="headingOne">
							<button class="accordion-button collapsed sidebarcolor" type="button"
							    style="background-color: #f1f1f1; color: #000000;"
								data-bs-toggle="collapse" data-bs-target="#collapseOne"
								aria-expanded="false" aria-controls="collapseOne">User Management</button>
						</h2>
						<div id="collapseOne" class="accordion-collapse collapse"
							aria-labelledby="headingOne" data-bs-parent="#accordionExample">
							<div class="accordion-body sidebarAccordion">
								<a class="navlink disableHref" href="index?page=users"
									onclick="setContent('users')">Users</a> <a
									class="navlink disableHref" href="index?page=roles"
									onclick="setContent('roles')">Roles</a>  <a
									class="navlink disableHref" href="index?page=usergroups"
									onclick="setContent('usergroups')">Groups</a>  <a
									class="navlink disableHref" href="index?page=entitiesaccess"
									onclick="setContent('entitiesaccess')">Entities</a>
							</div>
						</div>
					</div>
				
				
				
				<a href="javascript: document.logoutForm.submit()">Log Out</a>
		</div>

		<div class="content">
			<div id="dynamic_content" class="dynamic_content"></div>
			<!--  end main content -->
		</div>

		<form action="logout" method="post" hidden="true" name="logoutForm">
			<input type="submit" value="Logout" /> 
  			<input type="hidden" th:if="${_csrf != null && _csrf.parameterName != null && _csrf.token != null}" 
  			th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		</form>


		<!-- CSRF -->
		<input name='_csrf' type="hidden" th:if="${_csrf != null && _csrf.parameterName != null && _csrf.token != null}"
		th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		</div>


		<script>
			$(".sidebar .navlink").on("click", function() {
				$(".navlink.active").removeClass("active");
				$(this).addClass("active");
			});
		</script>

	</section>
</body>
</html>