<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{loginlayout.html}">
<head>

<script>
 function toggleShowPassword() {
	  var x = document.getElementById("password");
	  if (x.type === "password") {
	    x.type = "text";
	  } else {
	    x.type = "password";
	  }
	  
	  var y = document.getElementById("passwordconfirm");
	  if (y.type === "password") {
	    y.type = "text";
	  } else {
	    y.type = "password";
	  }
 }	
</script>

</head>
<body onload='document.login.username.focus();'>

	<section layout:fragment="content">
		<div class="sidenav">
			<div class="login-main-text">
				<h2>
					Application<br> Login Page
				</h2>
				<p>Please create an account</p>
			</div>
		</div>
		<div class="main">
			<div class="col-md-6 col-sm-12">
				<div class="login-form">
					<div>[(${error})]</div>
					<form name='signupconfirm' action='signupconfirm' method='POST'>
						<div class="form-group">
							 <label class="form-label" for="username">Username</label>
							 <input type="text" id="username"
								name="username" class="form-control" placeholder="username" />
						</div>
						<br/>
						<div class="form-group">
						    <label class="form-label" for="password">Password</label>		
							<input type="password" id="password" name="password" class="form-control" />						
						</div>
						<br/>
						<div class="form-group">
						    <label class="form-label" for="passwordconfirm">Confirm Password</label>		
							<input type="password" id="passwordconfirm" name="passwordconfirm" class="form-control" />
							<input type="checkbox" onclick="toggleShowPassword()">Show Password
						</div>
						<br/>
						<button type="submit" class="btn btn-secondary">Register</button>

					    <input type="hidden" th:if="${_csrf != null && _csrf.parameterName != null && _csrf.token != null}" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" />
					</form>
				</div>
			</div>
		</div>

	</section>
</body>
</html>
